html, body {
    height: 100%;
}

body {
    background: linear-gradient(#ffffff, #d39b9f);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow:auto;
}

/* html {
    height: 100%
}
body {
    background-image:url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */