.navbar {
  position: sticky;
  top: 0;
  z-index: 10000;
  background-image: linear-gradient(#fadedc, transparent);
  padding: 5px 0;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  display: block;
  flex-wrap: wrap;
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  width: 100px;
  height: 100px;
  margin: 0 10px;
}
.navbar-list-desktop {
  list-style: none;
  display: flex;
  margin: 0;
}
.navbar-list-desktop li {
  margin: 0 20px;
  font-size: 1.4rem;
}
.navbar-list-desktop li a {
  color: #000000;
  text-decoration: none;
}
.dropdown .dropdown-content {
  font-size: 1.2rem;
}
.navbar-list-desktop li::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.25rem;
  margin-top: 0.25rem;
  border-radius: 0.1875rem;
  background: rgb(249 143 134);
  transform: scaleX(0);
  transition: 0.17s;
}
.navbar-list-desktop li:hover a {
  transition: 0.17s;
}
.navbar-list-desktop li:hover a {
  color: rgb(249 143 134);
}
.navbar-list-desktop li:hover:after {
  transform: scaleX(1);
}
.navbar-list-mobile {
  display: none;
}
.navbar-mobile-icon {
  display: none;
}
@media screen and (max-width: 650px) {
  .navbar-list-desktop {
    display: none;
  }
  .navbar-mobile-icon {
    color: #aeaeb7;
    display: inline;
    font-size: 2.5rem;
    cursor: pointer;
    margin: 0 5px;
  }
  .navbar-list-mobile {
    display: block;
    margin: 0;
    padding: 0;
    height: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 1.2rem;
    z-index: 1000;
    background-color: white;
    transition: 0.2s;
    width: 100%;
    overflow: hidden;
  }
  .navbar-list-mobileShow {
    height: 240px;
  }
  .navbar-list-mobile li a {
    display: flex;
    color: #000000;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-decoration: none;
  }

  .navbar-list-mobile li a:hover {
    background: #ee8998;
  }
  .navbar-list-mobileShow:checked {
    display: none;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-top: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}